<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Diplom ishi</title>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

<body class="text-center" style="background-color: lightgray">

<div id="body" class="container-fluid text-center d-flex justify-content-center row mt-5">

    <h5 class="col-12">Mashina tasvirini yuklang va aniqlash tugmasini bosing(Hozircha faqat bitta mashina raqamini aniqlaydi)</h5>
    <div class="custom-file col-sm-5 col-md-3 col-xs-9 ml-md-3 mt-md-2">
        <input type="file" class="f" id="uploadBtn" required>
        <label class="f" for="uploadBtn"></label>
    </div>
    <div id="root" class="col-1 mt-1 col-sm-2 col-md-1">

        <button id="btn0" onclick="go()" class="btn btn-success" >Aniqlash</button>
    </div>

    <div class="text-center col-12 d-flex justify-content-center mt-5">
            <div class="row text-center d-flex justify-content-center" id="imageGalery">
                <img style="width: 50%; height: 50%" id="view" src="">
                <div class="col-12" id="plate">
                </div>
            </div>
    </div>



</div>


<div class="preload" style="">
    <h1 style="z-index: 100; font-size: 100px">Mustonov Ulug'bek</h1>
</div>


</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="  crossorigin="anonymous" ></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

    $(function() {
        $(".preload").fadeOut(1000, function() {
        });
    });

    function k(data) {

        document.getElementById("root").innerHTML="<button class=\"buttonload btn btn-success\">\n" +
            "  <i class=\"fa fa-refresh fa-spin\"></i>Jarayon\n" +
            "</button>";


        axios.post("api/upload",data
        )
            .then(function (response) {
                let data=JSON.parse(JSON.stringify(response))
                console.log(data)
                document.getElementById("root").innerHTML="  <button id=\"btn0\" onclick=\"go()\" class=\"btn btn-success\" >Aniqlash</button>\n";
                document.getElementById("plate").innerHTML="<h3>Aniqlandi : <strong>"+data.data.results[0].plate+"</strong></h3>"
            })
            .catch(function (error) {
                document.getElementById("root").innerHTML="  <button id=\"btn0\" onclick=\"go()\" class=\"btn btn-success\" >Aniqlash</button>\n";
                document.getElementById("plate").innerHTML=""

                alert("Xato!")
            });

    }
    function go() {

        const uploadInput = document.getElementById('uploadBtn');
        let data = new window.FormData();
        data.append('upload', uploadInput.files[0]);
        data.append('regions', 'uz');
        let view=document.getElementById('view');
        view.src = URL.createObjectURL(uploadInput.files[0]);

        document.getElementById("plate").innerHTML=""



        k(data);





    }









</script>
</html>
